<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>How Hansen Solubility Parameters Work</title>
    
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

<!-- Libraries -->

<!-- d3 JS -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

<!-- ajax // Plotly -->   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 

<!-- Bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <!--Collapsable navigation bar: common to all pages-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <img src="{{ url_for('static',filename='images/guenthner-extra-small.png') }}" width="28" height="35" class="d-inline-block align-top rounded-circle mr-3" alt="">
        <a class="navbar-brand" href="https://andrewguenthner.com">Andrew Guenthner</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
            <a class="nav-link" href="base.html">HSP Main Page<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                    <a class="nav-link" href="red.html">How HSP Works<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        </div>.

    </nav>
    <!--Main body on landing page -->
    <div class="jumbotron" id="title-holder"><h2>Hansen Solubility Parameters</h2></div>

    <div class="container">
        <div class="row">
        <div class="col-md-6" id="input_col">
            <div id="plot_3d"></div>
            <form id="user_input">
            Enter a substance name:<br>
            <input type="text" class="form-control" id="substance_0" name="substance_name" placeholder="substance name (e.g. acetone)" aria-placeholder="name of substance, can omit non alphanumerics">
            You can type the chemical name of any compound in the <a href=https://chem.nlm.nih.gov/chemidplus/ target="blank"> 
            National Library of Medicine TOXNET database</a>, including synonyms.  Punctuation is ignored.<br>
            <input type="submit" id="user_submit" value="Submit"></form>
            <br>
            <div class="row d-flex justify-content-center" id="prop_setter"><h3>Filter Results</h3><br>
                Only solvents and non-solvents with properties within the ranges you select will be displayed.<br>
                Selecting the entire range will disable filtering on that particular property altogether.
            </div><br>
            <div class="row d-flex justify-content-between" id="bp_control">
                <span class="w-25" id="bp_label">Boiling Point</span>
                <span id="bp_slider"></span>
            </div>
            <div class="row d-flex justify-content-center" id="bp_readout">
                <span id="bp_text">Selected range: 0 to 300 deg C</span>
            </div>
            <div class="row d-flex justify-content-between" id="fp_control">
                <span class="w-25" id="fp_label">Flash Point</span>
                <span id="fp_slider"></span>
            </div>
            <div class="row d-flex justify-content-center" id="fp_readout">
                <span id="fp_text">Selected range: -50 to 300 deg C</span>
            </div>
            <div class="row d-flex justify-content-between" id="cs_control">
                <span class="w-25" id="cs_label">Chem21 Safety</span>
                <span id="cs_slider"></span>
            </div>
            <div class="row d-flex justify-content-center" id="cs_readout">
                <span id="cs_text">Selected range: 1 to 10 (best to worst)</span>
            </div>
            <div class="row d-flex justify-content-between" id="ch_control">
                <span class="w-25" id="ch_label">Chem21 Health</span>
                <span id="ch_slider"></span>
            </div>
            <div class="row d-flex justify-content-center" id="ch_readout">
                <span id="ch_text">Selected range: 1 to 10 (best to worst)</span>
            </div>
            <div class="row d-flex justify-content-between" id="ce_control">
                <span class="w-25" id="ce_label">Chem21 Env.</span>
                <span id="ce_slider"></span>
            </div>
            <div class="row d-flex justify-content-center" id="ce_readout">
                <span id="ce_text">Selected range: 1 to 10 (best to worst)</span>
            </div>
            <div class="row d-flex justify-content-between" id="cr_control">
                <span class="w-25" id="cr_label">Chem21 Rank</span>
                <span id="cr_slider"></span>
            </div>
            <div class="row d-flex justify-content-center" id="cr_readout">
                <span id="cr_text">Selected range: 1 (Recommended) to 4 (Avoid if possible, even in the lab)</span>
            </div>
        </div>

        <div class="col-md-6" id="output_col">
            <div id="est_hsp"></div>
            <div class="row d-flex justify-content-center" id="best_solv_title"></div>
            <div class="row d-flex" id="best_solv">Hansen Solubility Parameters for the substance, and 
                information about solvents and non-solvents, will appear here</div>
            <div class="row d-flex justify-content-center" id="worst_solv_title"></div>
            <div class="row d-flex" id="worst_solv"></div>
        </div>
        </div>
    </div>
    <!-- Footer -->
    <div class="container mt-2 mt-md-5 text-light bg-secondary">
            Last updated 08-18-2019 by Andrew Guenthner.  Released under the 
            <a class="container-link text-warning" href="https://opensource.org/licenses/MIT" target="_blank">
                MIT Open Source License</a>
    </div>
    <script src="{{ url_for('static', filename='js/sliders.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
